logging:
  level:
    root: info

server:
  address: localhost
  port: 8081
  servlet:
    session:
      timeout: 30m
      cookie:
        name: GWSESSIONID

spring:
  profiles.active: local-internal, internal

zuul:
  add-host-header: true
  host:
    socket-timeout-millis: 600000

unity-api:
  uri: ${unity.url}/${unity.context}/public/api/1.0.0

forms-api:
  uri: ${forms-api.url}/${forms-api.context}/1.0.0

domain-api:
  uri: ${domain-api.url}/${domain-api.context}/1.0.0

############################################################
#
# Application profiles
#
############################################################
---
#Internal application with build in SSO
spring:
  profiles: internal

zuul:
  routes:
    api:
      path: /api/1.0.0/**
      url: ${unity-api.uri}
      sensitiveHeaders:

    unity-api:
      path: /**/public/api/1.0.0/**
      url: ${unity.url}
      sensitiveHeaders:

    forms-api:
      path: /forms-api/**
      url: ${forms-api.uri}
      sensitiveHeaders: Cookie,Set-Cookie

    domain-api:
      path: /domain-api/**
      url: ${domain-api.uri}
      sensitiveHeaders: Cookie,Set-Cookie

security:
  oauth2:
    client:
      clientId: unity_client
      clientSecret: unity_secret
      accessTokenUri: ${unity.url}/${unity.context}/public/api/oauth/token
      userAuthorizationUri: ${unity.url}/${unity.context}/public/api/oauth/authorize
    resource:
      userInfoUri: ${unity.url}/${unity.context}/public/api/userinfo

---
#Portal application with external login
spring:
  profiles: portal

zuul:
  routes:
    forms-api:
      path: /forms-api/**
      url: ${forms-api.uri}
      sensitiveHeaders: Cookie,Set-Cookie

    domain-api:
      path: /domain-api/**
      url: ${domain-api.uri}
      sensitiveHeaders: Cookie,Set-Cookie

    case-api:
      path: /${unity.context}/public/api/1.0.0/cases/**
      url: ${unity.url}
      sensitiveHeaders:

    case-public-api:
      path: /api/1.0.0/cases/**
      url: ${unity-api.uri}
      sensitiveHeaders:

    unty-api:
      path: /api/1.0.0/{spring:config|selectors|lookups|resources}/**
      url: ${unity-api.uri}
      sensitiveHeaders:

    unity-public-api:
      path: /${unity.context}/public/api/1.0.0/{spring:config|selectors|lookups|resources}/**
      url: ${unity.url}
      sensitiveHeaders:

login:
  home-url: /index.html?p=external
  service-account:
    oauth2:
      client:
        clientId: epermitting_application
        clientSecret: epermitting_application_secret
        accessTokenUri: ${unity.url}/${unity.context}/public/api/oauth/token
        grant-type: client_credentials

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

security:
  case:
    author: EP_AuthorID
    creator: strAuthor
    email: EP_AuthorEmail
    reviewer: EP_Reviewer

############################################################
#
# Environments
#
############################################################
#  Local
############################################################
---
spring:
  profiles: local

server:
  address: localhost
  port: 8091

logging:
  level:
    org.springframework.security: debug
    org.springframework.cloud.netflix: debug
    com.intellective.unity.security.CaseAccessPreFilter: trace
    com.intellective.unity.security: trace

login:
  login-url: https://filings.deep.stag.ct.gov/DEEPPortal/ #staging

unity:
  url: http://localhost:9080
  context:
forms-api:
  url: http://localhost:9081
  context:
domain-api:
  url: http://localhost:9082
  context:
